/* CSS declarations go here */


/* Homepage Styling #################################################*/


/*###################################################################*/


/*###################################################################*/


/*###################################################################*/

.hero-unit {
    padding: 25em;
    background: linear-gradient(to bottom, #021229 0, rgba(2, 18, 41, .28)50%, #021229 100%), url("img/luxuryapt1.jpg");
    background-size: cover;
    width: 100%;
}
.contentRow {
    background-color: #f0ede8;
}

.top-bar {
    background-color: #FFD086;
    color: #f0ede8;
}

.hero-unit-inner {
    color: #f0ede8;
}

.homepage-intro {
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: .6s;
    animation-fill-mode: forwards;
    opacity: 0;
    z-index: 0;
    background-color: #FFD086;
}

.img-responsive {
    height: 350px;
    width: 100%;
}

.imgWrapper {
    padding: .82rem
}

.imgWrapper > h2,
.imgWrapper > p,
.imgWrapper > a {
    background-color: #f0ede8;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
}

.imgWrapper > p > a {
    color: #FFD086;
}

.img .fa-homepage {
    /*  border-radius: 50%;
    background-color: #F0F0F0;*/
    color: #f0ede8;
    font-size: 4em;
    padding: 1em;
}

.projectPic {
    height: 50px;
    width: 50px;
}



/* .bioContainer {
    outline: 2px solid black;
    padding: 2px;
 }
*/

.divider {
    background: -webkit-linear-gradient(to bottom, #021229 0, rgba(2, 18, 41, .28)50%, #021229 100%), url('img/lights_blurred-min.JPG');
    background: -o-linear-gradient(to bottom, #021229 0, rgba(2, 18, 41, .28)50%, #021229 100%), url('img/lights_blurred-min.JPG');
    background: linear-gradient(to bottom, #021229 0, rgba(2, 18, 41, .28)50%, #021229 100%), url('img/lights_blurred-min.JPG');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 185px;
    width: 100%;
    overflow: hidden;
    position: relative
}

.quotes {
    display: none;
}

.homepage .footerRow {
    background-color: #f0ede8;
}

.homepage .footerRow article {
    padding: 25px;
}

.homepage .footerRow a, .homepage hr {
    color: #FFD086 !important;
    border-color: #FFD086 !important;
}

.footerRow {
    margin: 0 150px 0 150px !important;
}


.quotes p {
    margin-bottom: 20px;
}

.divider h3 {
    color: #f0ede8;
    padding: 25px 0 20px 0;
}

.divider p {
    color: #f0ede8;
}

.aboutBlack {
    padding: 50px;
    background-color: #FFD086;
    color: #f0ede8;
    border-radius: 10px;
    border: 2px solid #f0ede8;
    position: relative;
}

.aboutBlack h2 {
    font-family: "Open-sans", sans-serif;
}

.aboutBlack h4,
.aboutBlack h3,
.aboutBlack h2 {
    color: #f0ede8;
    text-shadow: 0px 2px 10px #f0ede8;
}

.about p {
    text-align: justify;
    font-size: 1.2em;
    word-spacing: 0;
    display: block;
    -webkit-font-smoothing: antialiased
}

.aboutBlack .fa {
    font-size: 50px;
    color: #FFD086;
    padding: 25px;
    background-color: #f0ede8;
    border-radius: 50%;
    width: 100px;
}

.about h3,
.about p {
    padding-bottom: 20px;
}

.title,
#title-small {
    padding-left: -50px;
    padding-right: -50px;
}

.title {
    font-weight: italic;
    outline: 2px solid #f0ede8;
    padding-top: .5em;
    padding-bottom: .5em;
    text-transform: uppercase;
}

.title > i {
    padding-left: .6em;
}

.homepage {
    padding-bottom: 2em;
    padding-top: 2em;
}

.titlesHomepage {
    margin-bottom: 6em;
}

.sectionPic {
    height: 50px;
    width: 100px;
}

.bioContainer {
    border: 1px solid #FFD086;
    margin-top: 10px;
    padding-top: 20px;
}

.bioContainer img {
    height: 250px;
    width: 250px;
}

.team-position {
    font-style: italic;
    font-size: 10px;
}

.teamMember {
    padding-bottom: 50px;
}

.teamMemberRows a {
    color: #333333;
}

.service a {
    color: #333;
}

.service {
    color: #333;
    width: 100%;
    height: 320px;
    margin: 30px 0;
    text-align: center;
    border: 1px solid #ddd;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.service .service-icon-box {
    position: relative;
    top: 100px;
    display: inline-block;
    margin-bottom: 40px;
    padding: 10px;
    background: white;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.service .service-heading {
    position: relative;
    top: 80px;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.service .service-description {
    width: 80%;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.service .service-icon-box > .service-icon {
    width: 40px;
    font-size: 40px;
}

.service:hover,
.service:active,
.service:focus {
    border-color: #f0ede8;
    color: #f0ede8;
}

.service:hover .service-icon-box,
.service:active .service-icon-box,
.service:focus .service-icon-box {
    top: -30px;
}

.service:hover .service-heading,
.service:active .service-heading,
.service:focus .service-heading {
    top: -30px;
}

.service:hover .service-description,
.service:active .service-description,
.service:focus .service-description {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.projects {
    color: #f0ede8;
    background-color: #FFD086;
    background-position: 30% 20%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

.projects .title {
    border-color: #f0ede8;
    outline: 2px solid #f0ede8;
    position: relative;
    left: 40px;
}

.projectsContainer {
    border: 2px solid #f0ede8;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.homeImg {
    height: 60px;
    width: 75px;
    margin: -24px -10px -15px -9px;
}

.newsPics img {
    height: 130px;
    width: 100px;
    opacity: .5;
    padding-bottom: 50px;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #f0ede8;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.btn {
    background-color: #FFD086;
    border-color: #f0ede8;
    color: #f0ede8;
    margin-bottom: 20px;
    border-radius: 20px;
}

.btn:hover,
.btn:active,
.btn:focus {
    background-color: #f0ede8;
    border-color: #f0ede8;
    color: #f0ede8;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.form-control {
    background-color: #333333;
    color: #777777;
}

hr {

    border-wdith: 5px;
    border-color: #FFD086;
}


/* Team Page Styling #################################################*/


/*###################################################################*/


/*###################################################################*/


/*###################################################################*/

.serviceBio {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 40px;
}

.teamimage {
    height: 500px;
    width: 500px;
    border-radius: 50%;
}

#bio {
    padding-top: 100px;
}

.imgWrap {
    position: relative;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    margin-bottom: 10em;
    border-radius: 50%;
    text-decoration: none;
}

.imgDescription {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f0ede8;
    text-decoration: none;
    visibility: hidden;
    opacity: 0;
    border-radius: 50%;
    padding-top: 20%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.imgDescription a {
    text-decoration: none;
}

.imgDescription i {
    padding: 5px;
    font-size: 15px;
}

.imgWrap:hover .imgDescription {
    visibility: visible;
    opacity: 1;
    text-decoration: none;
    vertical-align: 50%;
    padding-top: 40%;
    border-radius: 50%;
}

.serviceBioRow {
    /*  margin: 200px;*/
    text-align: justify;
    /* font-size: 1em;*/
}

.serviceBioRow hr {
    width: 100%;
}

.serviceBioRow i {
    color: #333333;
}

.serviceBioRow i:hover {
    color: #f0ede8;
}

.bioImg {
    margin-bottom: 2em;
    float: right;
    display: block;
    text-align: justify;
    padding-left: 2em;
    height: 410px;
    width: 500px;
}

.service-title {
    font-size: 2em;
    font-style: bold;
}

.service-bio {
    font-size: 1.3em;
    color: #f0ede8;
}

.serviceBio .firstP {
    margin-bottom: 50px;
}


/* Project Styling #################################################*/


/*###################################################################*/


/*###################################################################*/


/*###################################################################*/

.projectContainer {
    margin-top: 100px;
    margin-bottom: 100px;
}

.projectContent a {
    text-decoration: none;
    color: #333333;
}

.projectContent p {
    font-size: 1.2em;
}

#carousel-projects {
    width: 100%;
    height: 600px;
}

#carousel-projects > .carousel-inner > .item > img {
    width: 100%;
    height: 600px;
}

.projectSlideShow {
    padding-bottom: 20px;
}


/* News Styling #################################################*/


/*###################################################################*/


/*###################################################################*/


/*###################################################################*/

.newsContainer {
    margin-top: 100px;
    margin-bottom: 100px;
}


/* Login Styling #################################################*/


/*###################################################################*/


/*###################################################################*/


/*###################################################################*/

.login-buttons {
    margin-top: 300px;
    margin-bottom: 300px;
}

#login-buttons .login-button,
.accounts-dialog .login-button {
    background-color: #FFD086;
    color: #f0ede8;
}

#login-buttons .login-button:hover,
.accounts-dialog .login-button:hover {
    background-color: #f0ede8;
    color: #f0ede8;
}

.login-buttons a {
    color: black;
}


/* Contact Styling #################################################*/


/*###################################################################*/


/*###################################################################*/


/*###################################################################*/

.contact {
    background-color: #FFD086;
    color: #f0ede8;
    padding-top: 10em;
}

.contact p {
    color: #f0ede8;
}

.thankYou {
    padding: 100px 0px 100px 0px;
    color: #f0ede8;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.control-label {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

fieldset {
    padding-bottom: 50px;
}


/* Layout Styling #################################################*/


/*###################################################################*/


/*###################################################################*/


/*###################################################################*/

* {
    font-family: 'Source Sans Pro', sans-serif;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    font-family: 'Montserrat', sans-serif;
}

html {
    background-color: #f0ede8;
    position: relative;
    overflow-x: hidden;
}

.toUpcase {
    text-transform: uppercase;
}

body {
    position: relative;
    background-image: url('img/background.png');
}

ul {
    list-style: none;
}

a {
    color: #f0ede8;
}

p {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

label {
    font-family: 'Montserrat', sans-serif;
}

.vid-overlay {
    position: relative;
    height: 867px;
    margin: 0 auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.fullscreen-bg__video {
    background-color: #FFD086;
    height: 100%;
    z-index: -1;
    overflow-x: hidden;
    position: relative;
    width: 107%;
}

.vidText {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f0ede8;
    text-decoration: none;
    opacity: 0;
    font-size: 22px;
    font-style: strong;
    text-transform: uppercase;
    margin-left: 0px;
    width: 100%;
    max-height: 770px;
    vertical-align: center;
    text-align: center;
    padding: 250px;
}

.headerBrandImg {
    width: 250px;
    height: 200px;
    margin: -100px 0px -100px -20px;
}

.firstP::first-letter {
    color: #f0ede8;
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

a:hover,
a:focus {
    color: #ffd086;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

nav {
    margin-right: .1em;
}

.navbar-brand {
    padding-top: 15px;
    position: relative;
}

.navbar-brand img {
    padding-top: 0px;
    height: 50px;
    width: 71px;
    margin-top: -15px;
}

.navbar {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    border-radius: 0px;
    z-index: 10007;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
}

.navbar-nav {
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
}

.navbar-nav > li > a {
    font-size: 12px;
    padding-left: -10px;
}

.navbar-nav > li > a:hover {
    background-color: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.navbar-nav > li > a:active {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0.5);
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
    padding-bottom: 1px;
}


/*.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    background-color: #222222;
}*/

.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.0);
}

.navbar-collapse {
    text-align: right;
}

.navbar-toggle .icon-bar {
    background-color: #ffd086;
}

.hvr-underline-from-center:before {
    background: #ffd086;
}

.hvr-radial-out:before {
    background: #f0ede8;
}

footer {
    border-top: 1px solid #f0ede8;
    padding-top: 50px;
    background-color: #E4E0D9;
    color: #858078;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #858078;
}

footer .title {
    outline: 2px solid #858078;
}

footer a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

footer a:hover {
    color: #ffd086;
}

#mc_embed_signup form {
    background-color: #E4E0D9;
    padding: 0px 0px 0px 0px !important;
}

#mc_embed_signup input {
    border-color: #f0ede8 !important;
}

#mc_embed_signup input.email {
    color: white;
    background-color: #E4E0D9;
    width: 100% !important;
}

#mc_embed_signup input.button {
    background-color: #E4E0D9;
}

#mc_embed_signup input.button:hover {
    background-color: #f0ede8;
    border: 1px solid #f0ede8;
    color: #858078;
}

.backToTop {
    position: fixed;
    z-index: 1000;
    bottom: 10px;
    right: 10px;
}

.navbar-brand i {
    visibility: hidden;
}

.socialSidebar {
    position: fixed;
    z-index: 1000;
    top: 35%;
    right: 0%;
}

.socialSidebar .fa {
    height: 45px;
    width: 45px;
    font-size: 18px;
    padding: 13px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #999999;
    border: 2px solid #999999;
}

.socialSidebar .fa-facebook:hover {
    color: #3b5998;
    border: 3px solid #3b5998;
}

.socialSidebar .fa-twitter:hover {
    color: #0084b4;
    border: 3px solid #0084b4;
}

.socialSidebar .fa-instagram:hover {
    color: #458eff;
    border: 3px solid #458eff;
}

.socialSidebar .fa-pinterest:hover {
    color: #C92228;
    border: 3px solid #C92228;
}

.large-header {
    position: relative;
    width: 100%;
    background: #333;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.backToTop a {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    outline: none;
    border-radius: 50%;
    opacity: 0.5;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

.backToTop a:hover {
    background-color: #ffd086 !important;
    opacity: 0.8 !important;
}

#modalEmbed {
    top: 10%;
    height: 500px;
    width: 100%;
    padding: 10px;
}

.modal-content {
    top: 50px;
}

p {
    font-family: 'Open-Sans', sans-serif !important;
    font-weight: 300 !important;
}

.form-control {
    background-color: #FFD086;
    color: #f0ede8;
    height: 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    border: 1px solid #f0ede8;
}

.navbar,
.navbar-nav {
    background-color: transparent;
    border-bottom: none;
}

.navbar-header {
    height: 50px;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

.navbar-header .navbar-brand {
    font-size: 35px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-header .navbar-brand img {
    margin-top: -30px;
    height: 105px;
    width: 170px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar-nav > li > a {
    font-size: 13px;
    line-height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar.smaller {
    background-color: #FFD086;
    background: linear-gradient(to bottom, #021229 0, rgba(2, 18, 41, .8)50%, #021229 100%);
    box-shadow: 0px 2px 5px #888888;
}

.navbar-header.smaller {
    height: 50px;
}

.navbar-header.smaller .navbar-brand {
    font-size: 25px;
    line-height: 25px;
}

.navbar-header.smaller .navbar-brand img {
    height: 60px;
    width: 120px;
    margin-top: -20px;
}


#scrollArrow {
    font-size: 3em;
    color: #fff;
    border-radius: 1em;
    opacity: .5;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: .5s;
    -webkit-animation-iteration-count: infinite;
}

#scrollArrow:hover {
    color: #ffd086;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

@media (max-width: 1100px) {
    .vidText {
        top: 2%;
        left: 1%;
    }
    .projects {
        margin-left: -13%;
        margin-top: -60px;
        overflow-x: hidden;
        position: relative;
        -webkit-transform: rotate(-5deg) translateZ(0);
        transform: rotate(-5deg) translateZ(0);
        width: 126%;
    }
}

@media (max-width: 960px) {
    .vidText {
        top: 1%;
        left: 1%;
    }
    .projects {
        margin-left: 0%;
        margin-top: 0px;
        overflow-x: hidden;
        position: relative;
        -webkit-transform: rotate(0deg) translateZ(0);
        transform: rotate(0deg) translateZ(0);
        width: 100%;
        margin-bottom: 0px;
        padding-bottom: 2em
    }
    .aboutBlack {
        -webkit-transform: rotate(0deg) translateZ(0);
        transform: rotate(0deg) translateZ(0);
    }
    .projects .title {
        -webkit-transform: rotate(0deg) translateZ(0);
        transform: rotate(0deg) translateZ(0);
        left: 0px;
    }
}

@media (max-width: 860px) {
    .vidText {
        top: 1%;
    }
}

@media (max-width: 767px) {
    /* Intro Styling */
    .navbar-brand {
        top: 0px;
        padding: 15px 7px;
    }
    .navbar-brand i {
        visibility: visible;
    }
    .socialSidebar {
        display: none;
    }
    .navbar-header .navbar-brand img {
        margin-right: -10px;
    }
    .navbar-toggle {
        margin-top: 11px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .navbar-header .navbar-brand {
        font-size: 25px;
        margin-right: -5px;
        line-height: 1.2;
    }
    .navbar-header.smaller .navbar-brand {
        font-size: 15px;
    }
    .navbar-nav > li > a {
        font-size: 12px;
    }
    .navbar-nav.smaller > li > a {
        font-size: 12px;
    }
    .navbar-header {
        height: 75px;
    }
    .navbar-header.smaller .navbar-toggle {
        margin-top: 10px;
    }
    .navbar-header .navbar-brand img {
        margin-top: -35px;
        height: 115px;
        width: 170px;
    }
    .navbar,
    .navbar-nav {
        height: 50px;
    }
    .navbar-header {
        border-bottom: 1px solid #f0ede8;
    }
    .center {
        top: 70%;
    }
    .homepage-intro {
        -webkit-animation-duration: .5s;
        -webkit-animation-delay: .6s;
        animation-fill-mode: forwards;
        opacity: 0;
        background-color: #FFD086
    }
    /* Static Styling */
    .navbar .navbar-nav nav {
        background-color: #FFD086;
        padding-bottom: 1px;
        border: 1px solid #f0ede8;
    }
    .bg {
        -webkit-transform: rotate(5deg) translateZ(0);
        transform: rotate(5deg) translateZ(0);
        width: 110%;
    }
    .vidText {
        top: .8%;
        max-width: 80%;
        left: .8%;
        padding: 5px;
    }
    .vidText h1,
    .vidText h2 {
        font-size: 18px;
    }
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
        background-color: #FFD086;
    }
    #Carousel > .carousel-inner > .item > img {
        width: 100%;
        height: 300px;
    }
    /* Homepage Styling */
    .projects {
        background-size: cover;
        background-attachment: scroll;
        background-position: 50% 50%;
    }
    #carousel-projects > .carousel-inner > .item > img {
        height: 300px;
    }
    #carousel-projects {
        height: 300px;
    }
    .divider {
        background: -webkit-linear-gradient(rgba(0, 202, 242, .3), rgba(0, 202, 242, .3)), url('img/lights_blurred-min.JPG');
        background: -o-linear-gradient(rgba(0, 202, 242, .3), rgba(0, 202, 242, .3)), url('img/lights_blurred-min.JPG');
        background: linear-gradient(rgba(0, 202, 242, .3), rgba(0, 202, 242, .3)), url('img/lights_blurred-min.JPG');
        background-size: cover;
        background-attachment: scroll;
        background-position: inherit;
        height: 260px;
    }
    /* Team Page Styling */
    .bioImg {
        height: 350px;
        width: 400px;
        padding-left: 20px;
    }
    .contact iframe {
        width: 100%;
    }
    .homepage {
        padding-top: 3em;
        padding-bottom: 2em;
    }
    .titlesHomepage {
        margin-bottom: 2em;
    }
    .contact {
        padding-top: 3em;
    }
    .backToTop {
        bottom: 10px;
        right: 10px;
    }
    .fullscreen-bg__video {
        z-index: -1000;
        -webkit-transform: rotate(0deg) translateZ(0);
        transform: rotate(0deg) translateZ(0);
        width: 100%;
        margin-left: 0%;
        margin-top: 0px;
    }
    .teamimage {
        height: 250px;
        width: 250px;
        border-radius: 50%;
    }
    #bio {
        padding-top: 50px;
    }
    .imgWrap {
        position: relative;
        height: 250px;
        width: 250px;
        margin: 0 auto;
        margin-bottom: 5em;
        border-radius: 50%;
        text-decoration: none;
    }
    .imgDescription {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #f0ede8;
        text-decoration: none;
        visibility: hidden;
        opacity: 0;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 10px;
        border-radius: 50%;
        padding-top: 10%;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
    }
    .imgDescription a {
        text-decoration: none;
    }
    .imgDescription i {
        padding: 5px;
        font-size: 15px;
    }
    .imgWrap:hover .imgDescription {
        visibility: visible;
        opacity: 1;
        text-decoration: none;
        vertical-align: 50%;
        padding-top: 20%;
        border-radius: 50%;
    }
    #mc_embed_signup label {
        text-align: center !important;
    }
    #mc_embed_signup input.email {
        width: 100% !important;
    }
    #mc_embed_signup input {
        width: 100% !important;
    }
}

@media (max-width: 650px) {
    .headerBrandImg {
        width: 170px;
        height: 120px;
        margin: -50px 0px -100px 0px;
    }
    .vidText {
        top: .7%;
    }
    .vidText h1,
    .vidText h2 {
        font-size: 17px;
    }
    /* Intro Styles */
    .first img {
        height: 235px;
    }
    .first {
        top: 15%;
        left: 22%;
    }
    .intro-text {
        font-size: 1.5em;
    }
    .center {
        top: 65%;
        left: 22%;
    }
}

@media (max-width: 565px) {
    .fullscreen-bg__video {
        padding-bottom: 100px;
    }
    .vidText {
        padding-top: 70px;
        top: 0%;
        left: 0%;
        max-width: 100%;
        height: 313px;
        background-color: #FFD086;
        margin-top: 20px;
    }
    .vidText h1,
    .vidText h2 {
        font-size: 16px;
    }
}

@media print {
    video::-webkit-media-controls {
        display: none;
    }
}
