<template name="amenities">
    <div class="container-fluid homepage">
        <div class="row titlesHomepage text-center">
            <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
                <h2 class="wow fadeIn" data-wow-delay=".6s">Amenities</h2>
            </div>
        </div>
        <div class="container contentRow serviceBio" id="websites">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <p class="firstP">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias obcaecati animi, deleniti ipsa sapiente nulla ducimus molestiae vero, excepturi id impedit. Eum vero, vel reiciendis maiores, fugit dignissimos dolorem quo!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda porro dicta, dignissimos, laboriosam odit amet quidem atque unde, accusantium laborum at consequuntur recusandae magnam molestiae. Mollitia architecto, illo assumenda iusto.</p>
                </div>
            </div>
            <div class="row contentRow serviceBioRow">
                <div class="col-lg-10 col-lg-offset-1">
                    <h3 class="service-title">Community Ameneties</h3>
    
                    <hr>
                </div>
                <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
                    <img class="bioImg img-responsive wow slideInRight" src="/img/amenities.jpg">
                    <div class="amenity-group">
                        <ul class="amenity-list">
                            <li class="amenity-item">
                                <span class="amenity-name">Elegant clubhouse readily available for residents use</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Full service business center</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">24 Hr world class state-of-the-art fitness center</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Resort-style swimming pool</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Serene picnic/grilling area</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Reliable 24-hour emergency maintenance</span>
                            </li>
                        </ul>
                        <ul class="amenity-list">
                            <li class="amenity-item">
                                <span class="amenity-name">Professionally landscaped grounds</span>
                            </li>
                            <li class="amenity-item">
                                <a href="#parking-policy" data-modal="open" data-options="{
&quot;class&quot;:  &quot;parking-policy&quot;,
&quot;title&quot;:  &quot;Parking Policy&quot;,
&quot;type&quot;:       &quot;static&quot;
}">
                                    <!-- data-tracking='' -->
                                    <span class="amenity-name">Detached parking garage</span>
                                </a>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Convenient elevator access*</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Gated Community</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">On-Site Maintenance</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Swimming Pool</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container contentRow serviceBio" id="apps">
            <div class="row serviceBioRow">
                <div class="col-lg-10 col-lg-offset-1">
                    <h3 class="service-title">Apartment Amenities</h3>
                    <hr>
                </div>
                <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
                    <img class="bioImg img-responsive wow slideInRight" src="/img/residences.jpg">
                    <div class="amenity-group">
                        <ul class="amenity-list">
                            <li class="amenity-item">
                                <span class="amenity-name">Private fenced backyards*</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Private patios &amp; balconies**</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Spacious open-concept floor plans</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Elegant laminate flooring</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Cozy upgraded carpeting in bedrooms</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Built-in bookshelves*</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Built-in computer desks*</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Ceiling fans in bedroom, living &amp; dining rooms</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Two luxurious designer color schemes available</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Convenient washer/dryer connections</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Linen closets</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Spacious closets</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Modern pendant lighting</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">High-Speed Internet access (AT&amp;T U-verse available)</span>
                            </li>
                        </ul>
                        <ul class="amenity-list">
                            <li class="amenity-item">
                                <span class="amenity-name">Digital Cable (via AT&amp;T U-verse)</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">9’ &amp; 10’ ceilings</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">ENERGYSTAR® electric stainless steel appliance packages</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Luxurious full wall glass tile backsplash kitchens</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Sizable pantries</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Sleek granite counter tops</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Chic dual vanities*</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Traditional European style cabinetry</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Separate showers w/ glass enclosures*</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Soothing garden bathtubs</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Contemporary fixtures  * In select homes     ** Varies by size and apartment home</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Contemporary fixtures</span>
                            </li>
                            <li class="amenity-item">
                                <span class="amenity-name">Additional Storage*</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
