<template name="contact">
    <div class="container-fluid homepage ">
    <a id="content"></a>
        <a name="content"></a>
        <div id="content"></div>
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center">
                <h1>Contact</h1>
                <hr class="smallHr">
            </div>
        </div>
        <a id="contact"></a>
        <div class="container contentRow">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center wow fadeIn" data-wow-delay=".3s">
                    <p>If you're ready to take the step toward designing your new disruptive digital presence and increasing your business, then please contact us below to get started.</p>
                    <hr>
                </div>
                <div class="col-sm-10 col-sm-offset-1 wow fadeIn" data-wow-delay=".3s">
                    {{>contactForm}}
                </div>
                <div class="col-sm-10 col-sm-offset-1 thankYou text-center fadeIn homepage-intro" id="thankYou" style="display:none">
                    <i class="fa fa-check fa-large"></i>
                    <p>Thank you for contacting us, we'll be in touch shortly!</p>
                </div>
            </div>
        </div>
    </div>
</template>
