<head>
    <meta name="fragment" content="!">
    <title>Disrupt Labs | Creative Digital Agency</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="img/disruptFav.png" rel="icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <meta name="fragment" content="!">
    <meta name="description" content="Disrupt Labs is a data-driven creative digital design agency located in Austin, TX that builds custom engaging digital presences for individuals and companies alike. Our mission is to deliver disruptive digital products and marketing campaigns that increase and engage our clients customer base.">
    <meta property="twitter:description" content="Disrupt Labs is a data-driven creative digital design agency located in Austin, TX that builds custom engaging digital presences for individuals and companies alike. Our mission is to deliver disruptive digital products and marketing campaigns that increase and engage our clients customer base.">
    <meta name="copyright" content="All rights reserved, Disrupt Labs LLC.">
    <meta name="keywords" content="custom websites, custom apps, custom applications, seo targeting, customer reviews management, social media management, emerging technology, disrupt, disruptive tehchnology, disrupt labs, software development, email marketing, data analytics, digital marketing, digital, digital design, digital design agency, design agency, creative agency, custom designs, custom branding, custom, website, app, application, seo, online marketing, digital marketers, digital design, digital presence, analytics, data, custom analytics, online, online success, online presence, austin texas">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="site_name" content="Disrupt Labs">
    <meta name="url" content="http://disruptlabs.io">
    <meta name="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta property="twitter:title" content="Disrupt Labs | Creative Digital Agency">
    <meta property="og:title" content="Disrupt Labs | Creative Digital Agency">
    <meta property="og:description" content="Disrupt Labs is a data-driven creative digital agency that builds custom engaging digital presences for individuals and companies alike. We deliver disruptive digital products and marketing campaigns that increase and engage our clients customer base.">
    <meta property="og:image" content="img/disruptlabsnamelogo.png">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_us">
    <meta property="og:site_name" content="Disrupt Labs">
    <meta property="twitter:url" content="http://disruptlabs.io/">
    <meta property="og:url" content="http://disruptlabs.io/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="img/disruptFav.png" rel="icon" type="image/x-icon" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>
<template name="homepage">
    <a href="#whatwedo"></a>
    <div class="about homepage container-fluid" id="about">
        <div class="row sectionContent text-center">
            <div class="col-lg-5 col-lg-offset-1 col-md-12 col-xs-12 imgWrapper">
                <img class="img-responsive" src="img/virtualTour.jpg">
                <h2>Virtual Tour</h2>
                <p>Take our personal virtual tour and visit our apartment complex from anywhere in the world.</p>
                <p><a href="/virtualTour#content">Take Our Personal Virtual Tour</a></p>
            </div>
            <div class="col-sm-5 col-xs-12 imgWrapper">
                <img class="img-responsive" src="img/residences.jpg">
                <h2>Residences</h2>
                <p>Live in elegance at your new luxury apartments at Lake Vista, see what each room has to offer.</p>
                <p><a href="/amenities#contet">Learn More About the Residences</a></p>
            </div>
        </div>
        <div class="row sectionContent text-center">
            <div class="col-sm-5 col-sm-offset-1 col-xs-12 imgWrapper">
                <img class="img-responsive" src="img/amenities.jpg">
                <h2>Amenities</h2>
                <p>At Lake vista we have all of the amenities to offer and do it the best.</p>
                <p><a href="/amenities#content">Learn More About Our Complex Amenities</a></p>
            </div>
            <div class="col-sm-5 col-xs-12 imgWrapper">
                <img class="img-responsive" src="img/floorplans.jpg">
                <h2>Floor Plans</h2>
                <p>Check out our 3D Floor plans and begin planning on how your new home will look.</p>
                <p><a href="/plans#content">See Our Floor Plans Virtualized</a></p>
            </div>
        </div>
        <div class="row footerRow">
            <div class="col-sm-4">
                <article>
                    <hr>
                    <h2>Video</h2>
                    <p>See what its like to live...</p>
                    <p><a href="/virtualTour#content">Watch Video &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a></p>
                </article>
            </div>
            <div class="col-sm-4">
                <article>
                    <hr>
                    <h2>Team</h2>
                    <p>Check out our team...</p>
                    <p><a href="/team#content">See Team &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a></p>
                </article>
            </div>
            <div class="col-sm-4">
                <article>
                    <hr>
                    <h2>News</h2>
                    <p>Keep up with the latest news...</p>
                    <p><a href="/blog#content">News &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a></p>
                </article>
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid divider">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center wow fadeIn quotes" data-wow-delay=".5s">
                <h3>
                "Over the next 10 years, I expect many more industries to be disrupted by software..."
                    </h3>
                <p>- Marc Andreessen, Founder Andreessen Horrowitz, Netscape</p>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center wow fadeIn quotes" data-wow-delay=".5s">
                <h3>
                "True disruption means threatening your existing product line and your past investments. Breakthrough products disrupt current lines of businesses."
                    </h3>
                <p>- Peter Diamandis, Founder X Prize Foundation</p>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center wow fadeIn quotes" data-wow-delay=".5s">
                <h3>
                "Design is a tool that either allows us to create new markets or disrupt existing ones."
                    </h3>
                <p>- Yves Behar, Founder Fuseproject</p>
            </div>
            <div class="col-sm-8 col-sm-offset-2 col-xs-12 text-center wow fadeIn quotes" data-wow-delay=".5s">
                <h3>
                "I always follow the same idea: Start small and disrupt to create something big."
                    </h3>
                <p>- Xavier Niel, Founder Iliad</p>
            </div>
        </div>
    </div> -->
    <script type="text/javascript">
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        slidesPerView: 3,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false,
        loop: true
    });

    $(document).ready(function() {
        var list = $(".divider .quotes").toArray();
        var elemlength = list.length;
        var randomnum = Math.floor(Math.random() * elemlength);
        var randomitem = list[randomnum];
        $(randomitem).css("display", "block");

    });

    // var $root = $('html, body');
    // $('.navbar-nav a').click(function() {
    //     var href = $.attr(this, 'href');
    //     $root.animate({
    //         scrollTop: $(href).offset().top
    //     }, 500, function() {
    //         window.location.hash = href;
    //     });
    //     return false;
    // });
    </script>
</template>
