<template name="plans">
    <div class="container-fluid homepage">
        <div class="row titlesHomepage text-center">
            <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
                <h2 class="wow fadeIn" data-wow-delay=".6s">Floor-Plans & Availability</h2>
            </div>
        </div>
        <div class="container contentRow">
        <div class="row">
            <div class="col-sm-12">
                <h2>Studios</h2>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-2 text-center">
                <h5>Name</h5>
                <ul>
                	<li>Style1</li>
                	<li>Style2</li>
                	<li>Style3</li>
                	<li>Style4</li>
                	<li>Style5</li>
                </ul>
                </div>
                <div class="col-sm-2 text-center">
                <h5>Sq. Ft.</h5>
                <ul>
                	<li></li>
                	<li></li>
                	<li></li>
                	<li></li>
                	<li></li>
                </ul>

                </div>
                <div class="col-sm-2 text-center">
                <h5>Rent</h5>
                <ul>
                	<li></li>
                	<li></li>
                	<li></li>
                	<li></li>
                	<li></li>
                </ul>

                </div>
                <div class="col-sm-2 text-center">
                <h5>Deposit</h5>
                <ul>
                	<li></li>
                	<li></li>
                	<li></li>
                	<li></li>
                	<li></li>
                </ul>

                </div>

                <div class="col-sm-2 text-center">
                <h5>Layout</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>

                <div class="col-sm-2 text-center">
                <h5>Availability</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>

            </div>

            <div class="row">
            <div class="col-sm-12">
                <h2>1 Bedrooms</h2>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-2 text-center">
                <h5>Name</h5>
                <ul>
                    <li>Style1</li>
                    <li>Style2</li>
                    <li>Style3</li>
                    <li>Style4</li>
                    <li>Style5</li>
                </ul>
                </div>
                <div class="col-sm-2 text-center">
                <h5>Sq. Ft.</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>
                <div class="col-sm-2 text-center">
                <h5>Rent</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>
                <div class="col-sm-2 text-center">
                <h5>Deposit</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>

                <div class="col-sm-2 text-center">
                <h5>Layout</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>

                <div class="col-sm-2 text-center">
                <h5>Availability</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>

            </div>

            <div class="row">
            <div class="col-sm-12">
                <h2>2 Bedrooms</h2>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-2 text-center">
                <h5>Name</h5>
                <ul>
                    <li>Style1</li>
                    <li>Style2</li>
                    <li>Style3</li>
                    <li>Style4</li>
                    <li>Style5</li>
                </ul>
                </div>
                <div class="col-sm-2 text-center">
                <h5>Sq. Ft.</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>
                <div class="col-sm-2 text-center">
                <h5>Rent</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>
                <div class="col-sm-2 text-center">
                <h5>Deposit</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>

                <div class="col-sm-2 text-center">
                <h5>Layout</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>

                <div class="col-sm-2 text-center">
                <h5>Availability</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>

            </div>

            <div class="row">
            <div class="col-sm-12">
                <h2>3 Bedrooms</h2>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-2 text-center">
                <h5>Name</h5>
                <ul>
                    <li>Style1</li>
                    <li>Style2</li>
                    <li>Style3</li>
                    <li>Style4</li>
                    <li>Style5</li>
                </ul>
                </div>
                <div class="col-sm-2 text-center">
                <h5>Sq. Ft.</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>
                <div class="col-sm-2 text-center">
                <h5>Rent</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>
                <div class="col-sm-2 text-center">
                <h5>Deposit</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>

                <div class="col-sm-2 text-center">
                <h5>Layout</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>

                <div class="col-sm-2 text-center">
                <h5>Availability</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>

            </div>

            <div class="row">
            <div class="col-sm-12">
                <h2>4 Bedrooms</h2>
            </div>
        </div>
            <div class="row">
                <div class="col-sm-2 text-center">
                <h5>Name</h5>
                <ul>
                    <li>Style1</li>
                    <li>Style2</li>
                    <li>Style3</li>
                    <li>Style4</li>
                    <li>Style5</li>
                </ul>
                </div>
                <div class="col-sm-2 text-center">
                <h5>Sq. Ft.</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>
                <div class="col-sm-2 text-center">
                <h5>Rent</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>
                <div class="col-sm-2 text-center">
                <h5>Deposit</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>

                <div class="col-sm-2 text-center">
                <h5>Layout</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>

                <div class="col-sm-2 text-center">
                <h5>Availability</h5>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>

                </div>

            </div>
        </div>
    </div>
</template>
