<template name="virtualTour">
    <div class="container-fluid homepage">
    <div class="row titlesHomepage text-center">
            <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
                <h2 class="wow fadeIn" data-wow-delay=".6s">Virtual Tour</h2>
            </div>
        </div>
    <div class="container contentRow">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <video loop muted autoplay width="100%">
                <source src="/video/3danimation-1.mp4" type="video/mp4">
                <source src="/video/3danimation-1.webm" type="video/webm">
                <source src="/video/3danimation-1.oog" type="video/oog">
            </video>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <iframe width="100%" height="500px" src="https://www.youtube.com/embed/ZzPUhptvljU" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        </div>
        
    </div>
</template>